name: Bridgecrew 
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
   
jobs:
  bridgecrew-security-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Run Bridgecrew 
        id: Bridgecrew
        uses: bridgecrewio/bridgecrew-action@master 
        with:
          api-key: ${{ secrets.BC_API_KEY }}
